<h1>Usually, you can't edit a tweet, but...</h1>

<div class="well" >
	<%= render 'form', tweet: @tweet %>

	<%= link_to 'Show', @tweet, class: 'btn btn-sm btn-info' %> |
	<%= link_to 'Back', tweets_path, class: 'btn btn-sm btn-info'  %>
</div>